<h1>----</h1>
<div id="classes" class="nav-bar bar bar-header bar-light">
  <h2>My Classes</h2>
  <button class="logout button button-small button-stable" ng-click="vm.logOut()">
    Logout <span href="" class="ion-ios-close-outline"></span>
  </button>
</div>
<div class="card" ng-repeat="class in vm.classesArray">
  <div class="item item-text-wrap" ng-click="vm.viewlectures({{class.links}})">
    <p ng-bind="class.attributes.class_name"></p>
    <p ng-bind="class.attributes.class_description"></p>
    Touch To Join Lecture
  </div>
</div>
<button ng-click="vm.refresh()" class="refresh-button button button-block button-stable icon ion-loop"></button>
