<h1>----</h1>
<div class="nav-bar row bar bar-header bar-light">
  <a ui-sref="dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <button class="button button-small button-stable" ng-click="vm.logOut()">
    Logout <span href="" class="ion-ios-close-outline"></span>
  </button>
</div>
<div class="card" ng-repeat="lecture in vm.lecturesArray">
  <div class="item item-text-wrap" ng-click="vm.goToLecture(lecture.attributes.lecture_id)">
    <p ng-bind="lecture.attributes.name"></p>
    <p ng-bind="lecture.attributes.description"></p>
    Touch To Join Lecture
  </div>
  <img src="../img/red-dot.png" alt="" ng-hide="lecture.attributes.is_active">
  <img src="../img/green-dot.png" alt="" ng-show="lecture.attributes.is_active">
</div>
<button ng-click="vm.refresh()" class="refresh-button button button-block button-stable icon ion-loop"></button>
