<h1>----</h1>
<div class="bar bar-header bar-light">
  <h2>My Lectures</h2>
  <a ui-sref="dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <button class="button button-small button-stable" ng-click="vm.logOut()">
    <span href="" class="ion-ios-close-outline"></span> logout
  </button>
</div>
<div class="card" ng-repeat="lecture in vm.lecturesArray">
  <div class="item item-text-wrap" ng-click="vm.goToLecture(lecture.attributes.lecture_id)">
    <p ng-bind="lecture.attributes.name"></p>
    <p ng-bind="lecture.attributes.description"></p>
    Touch To Join Lecture
  </div>

</div>
<button ng-click="vm.refresh()" class="refresh-button button button-block button-stable icon ion-loop"></button>
