<h1>----</h1>
<div id="slider-header" class="nav-bar bar bar-header bar-light">
  <a ui-sref="lectures" class="button icon-left ion-chevron-left button-clear button-light">Back</a>
  <button class="button button-small button-stable" ng-click="vm.logOut()">
    Logout <span href="" class="ion-ios-close-outline"></span>
  </button>
</div>
<div class="item range">
  <i class="icon ion-help"></i>
  <input ng-model='vm.slider' ng-change="vm.vote(2)" type="range" name="volume" min="1" max="2" value="1">
  <i class="icon ion-ios-lightbulb-outline"></i>
</div>
