@font-face {
  font-family: 'bodyfont';
  src: url("../res/sourcesanspro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: 'header';
  src: url("../res/montserrat/Montserrat-Regular.ttf"); }

body {
  margin: 10px; }

h3 {
  font-family: 'header'; }
